<article class="card">
  <nav class="card__nav" aria-label="Main">
    <ul class="card__nav__list">
      <li class="card__nav__item card__nav__item--logo">
        <a href="#" class="card__nav__link"
          ><img
            src="../../../assets/images/colombian_points/pc_logo.png"
            alt="logo"
            class="card__nav__image"
        /></a>
      </li>
      <li class="card__nav__item card__nav__item--message">
        <h4 class="card__subtitle card__subtitle--pink">
          Tienes 3.116 Puntos Colombia
        </h4>
        <p class="card__copy card__copy--small">Saldo al 23-dic-2021</p>
      </li>
    </ul>
  </nav>
  <header class="card__header">
    <div class="card__lead">
      <span class="card__copy card__copy--header">CON</span>
      <span class="card__copy card__copy--header">PUNTOS COLOMBIA</span>
      <span class="card__copy card__copy--header">
        <strong>#NAVEGASEGURO</strong></span
      >
    </div>
    <figure class="card__figure">
      <img
        src="../../../assets/images/colombian_points//header_image.png"
        alt=""
        class="card__image"
      />
    </figure>
  </header>
  <section class="card__body">
    <div class="card__block card__block--background-black">
      <h2 class="card__subtitle card__subtitle--pink">Hola, Gustavo</h2>
      <p class="card__copy">
        Tu seguridad y la de tus Puntos Colombia es muy importante para
        nosotros, por eso te damos unos tips para que disfrutes tus días a punta
        de Puntos.
      </p>
    </div>
    <div class="card__block card__block--background-purple">
      <figure class="card__figure">
        <img
          src="../../../assets/images/colombian_points//pc_security_icon.png"
          alt=""
          class="card__image"
        />
      </figure>
      <h2 class="card__subtitle">¡Ten en cuenta!</h2>
      <p class="card__copy">
        En Puntos Colombia jamás te contactaremos para pedirte datos personales
        o confidenciales por ningún medio.
      </p>
    </div>
    <div class="card__block card__block--background-black">
      <h2 class="card__subtitle card__subtitle--pink">
        ¿Cómo proteger tus datos y tus puntos?
      </h2>
      <figure class="card__figure">
        <img
          src="../../../assets/images/colombian_points//pc_chat_icon.png"
          alt=""
          class="card__image"
        />
      </figure>
      <p class="card__copy">
        No te llamaremos a solicitar información como:
        <strong
          >usuario, clave dinámica, código de seguridad y códigos de
          verificación</strong
        >. Si recibes una llamada solicitando esta información, cuelga y no la
        entregues por ningún motivo.
      </p>
      <figure class="card__figure">
        <img
          src="../../../assets/images/colombian_points//pc_phone_icon.png"
          alt=""
          class="card__image"
        />
      </figure>
      <p class="card__copy">
        Si llegas a ser contactado por mensaje de texto, WhatsApp o mail,
        <strong>recuerda no entregar información</strong>.
      </p>
      <figure class="card__figure">
        <img
          src="../../../assets/images/colombian_points//pc_guard_icon.png"
          alt=""
          class="card__image"
        />
      </figure>
      <p class="card__copy">
        Cuida tus Puntos Colombia con la clave dinámica que encuentras en
        nuestra app. Esta clave es para tu uso personal.
      </p>
      <h3 class="card__subtitle card__subtitle--pink">
        ¡En Puntos Colombia estamos comprometidos con tu seguridad!
      </h3>
      <p class="card__copy">
        Recuerda que nuestras líneas oficiales de atención son
        <span class="card__copy card__copy--fuchsia">01 8000 423 600</span> y
        Whatsapp
        <span class="card__copy card__copy--fuchsia">(300) 912 0488</span>
      </p>
    </div>
  </section>
  <hr />
  <footer class="card__footer">
    <h2 class="card__subtitle card__subtitle--pink">¿Tienes dudas?</h2>
    <p class="card_copy card__copy--fuchsia">
      <a href="#" class="card__copy--fuchsia">Conoce más</a>
    </p>
    <br />
    <p class="card__copy">01 8000 423 600</p>
    <p class="card__copy"><strong>WhatsApp o línea móvil:</strong></p>
    <p class="card__copy">(300) 912 0488</p>
    <br />
    <p class="card__copy card__copy--pink">www.puntoscolombia.com</p>
    <br />
    <div class="card__actions"></div>
  </footer>
  <hr />
</article>
